.light-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.light {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(0, 255, 135, 0.1) 10%,
    rgba(254, 254, 254, 0.1) 20%,
    rgba(0, 255, 0, 0.2) 40%,
    transparent 10%
  );
  filter: blur(90px);
  opacity: 0.5;
  animation: moveLight 21s infinite alternate ease-in-out;
}

.light:nth-child(1) {
  top: 20%;
  left: 10%;
  animation-duration: 20s;
}

.light:nth-child(2) {
  top: 60%;
  right: 10%;
  animation-duration: 25s;
}

.light:nth-child(3) {
  bottom: 10%;
  left: 20%;
  animation-duration: 30s;
}

@keyframes moveLight {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(100px, -50px) scale(1.2);
  }
  50% {
    transform: translate(-80px, 80px) scale(0.8);
  }
  75% {
    transform: translate(-100px, -80px) scale(1.1);
  }
}
